
.person-icon {
  font-size: 1.5rem;
}
.single-info {
  font-size: 0.7rem;
}
.card-img-top {
  max-width: 200px;
}

#btnInterview {
  display: none;
}

.table {
  display: none;
}

@media screen and (min-width: 576px) {
  .single-info {
    font-size: 1rem;
  }
}
